// Variables

// Colors
$color-primary: #58e1c1;
$color-secondary: #51ddfc;

$btn-default: #51ddfc;
$btn-success: #63cc82;
$btn-error: #e4757a;
$btn-warning: #fd7856;
$btn-info: #927bc1;


// typography
$line-height: 1.45em;

// Columns
 