/* ============================================= */
/*              Button Styles                    */
/* ============================================= */

%btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
}


.btn {
    &.default {
        @include btn($btn-default);
    }
    &.success {
        @include btn($btn-success);
    }
    &.error {
        @include btn($btn-error);
    }
    &.info {
        @include btn($btn-info);
    }
    &.warning {
        @include btn($btn-warning);
    }
}