/* ============================================= */
/*              Image styles                     */
/* ============================================= */

%img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 100%; 
}

.img {
    &-avatar {
        @extend %img;
        max-height: 100%;
    }
    &-frame {
        @extend %img;
        padding: 13px;
        border: 1px solid #ccc;
    }
    &-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}